body {
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, #d4ffd7, #ffcac5, #fffbbe, #d3d4ff);
}

.container {
   max-width: 800px;
    padding: 5%;
    border-radius: 50px;
    margin-top: 5%;
    outline: 3px solid rgb(255, 167, 178);
    background-color: white;
}

.card {
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.navbar {
    background: rgb(255, 255, 255);
    padding: 2px;
}